<h1>Welcome to Who's Hungry!</h1>

<h3>Please create an account of log in</h3>

<form action="/user/ID" method="post">
  <input type="text" name="firstName" placeholder="First Name" required>
  <input type="text" name="lastName" placeholder="Last Name" required>
  <input type="email" name="email" placeholder="Email" required>
  <input type="submit" value="Create Account!">
</form>
