<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
  <header>
  <nav class="teal darken-4">
    <div class="nav-wrapper">
      <a  class="brand-logo"><i class="material-icons right">local_dining</i><i class="material-icons left">local_dining</i>What's For Dinner</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="waves-effect "><a class="nav-items" href="/user/{{userId}}"><i class="material-icons right">people</i>User Profile</a></li>
        <li class="waves-effect "><a class="nav-items" href="/user/{{userId}}/recipe"><i class="material-icons right">search</i>Find Recipes</a></li>
      </ul>
    </div>
  </header>
  <main>

    {{{body}}}
  </main>

<footer class="page-footer" class="teal darken-4">
          <div class="container">
            <div class="row">
              {{!-- <div class="col l6 s12"> --}}
                <h5 class="white-text">&copy; 2017 Jessica O'Brien, Burns Beaver, Jackie Irons, David Weber</h5>
              </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
  <script src="js/script.js" type="text/javascript"></script>
  </body>
</html>
