<h1>Welcome to What's for Dinner?!</h1>
<br>

<h3><a href="/user/new">New? Click to create an account</a></h3>
<br>

<p>Do you ever find yourself trying to figure out dinner ideas for yourself or your family? <br>What’s for Dinner is the app that can solve all your dinner issues.</p>
<br>

<p>What’s for Dinner is an app that allows users to create a personal account using your name and email. <br>After the user account is created you will be able to create a regional recipes based on <br>serving size , cooking time, difficulty, and calories per serving. Each recipe card will also include a <br>image, directions, and ingredients of the food item.</p>
