<h3>Please create an account to log in</h3>

<form action="/user" method="post">
  <input type="text" name="firstName" placeholder="First Name" required>
  <input type="text" name="lastName" placeholder="Last Name" required>
  <input type="email" name="email" placeholder="Email" required>
  <input type="submit" value="Create Account!">
</form>
