body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	height: 100%;
	background: url("http://i.imgur.com/AjKUf6O.png") no-repeat;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
		font-family: 'Open Sans', sans-serif;
}

h1, h3, p.heading {
	background-color: rgba(0,77,64, .7);
	border: 10px solid black;
	color: white;
	border-radius: 25px;
	display: inline-block;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
	margin-right: 0;
	color: #004D40;
}

p {
	font-size: 30px;
}

main {
	flex: 1 0 auto;
	margin-left: 35px;
}

a {
	color: #00B7FF;
	font-size: 50px;
}

.recipeImage {
	height: 300px;
	width: 450px;
	margin-bottom: 150px;
}

.recipe {
	background-color: rgba(0,0,0, .55);
	width: 750px;
	height:750px;
	border: 15px solid black;
	color: white;
	padding-bottom: 10px;
	text-align: center;
	margin-bottom: 30px;
	border-radius: 25px;
}

#wrapper {
	margin: 50px;
}

.btn-large {
	font-size: 20px;
	margin-bottom: 20px;
}

.newForm {
	background-color: rgba(0,0,0, .55);
	border-radius: 25px;
	border: 15px solid black;
	color: white;
	width: 800px;
	text-align: center;
}

.indivRecipe {
	background-color: rgba(0,0,0, .55);
	border-radius: 25px;
	border: 15px solid black;
	color: white;
	width: 900px;
	font-size: 50px;
	text-align: center;
}


.page-footer {
    background-color: #004d40;
    text-align: center;
}


.teal {
	height: 100px;
}


  .brand-logo {
  	left: 30px;
  	top: 25px;
  }

  .nav-items {
  	font-size: 20px;
  }

#CreateNewButton{
	padding-top: 20px
}
.top-info{
	display: flex;
	justify-content: space-around;
}

.card-action {
	font-size: 5px;
	color: blue;
}
.homeAlign {
	text-align: center;
}
