body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background: url("http://i.imgur.com/AjKUf6O.png");
}

a {
	color: #00B7FF;
}

.teal {
	height: 75px;
}

.recipe {
	background-color: white;
}

.indivRecipe {
	background-color: white
}
