body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	/*background: url("http://i.imgur.com/AjKUf6O.png");*/
}

a {
	color: #00B7FF;
}

.teal {
	height: 75px;
}

.recipe {
	background-color: white;
	width: 300px;
}

.indivRecipe {
	background-color: white
}
.recipe-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
