<h1>Hello, User, are you hungry?</h1>
<div class="recipe-row">
	{{#each recipe}}
		<div class = "recipe">
			<h3>{{this.name}}</h3>
			<div><img src="http://fillmurray.com/200/300" alt="Test"></div>
			<a href="recipe/{{this._id}}">View more about {{this.name}}</a>
			<br>
		</div>
	{{/each}}
</div>
<br>
<br>
<form action="user/{{userId}}/recipe/new" method="GET">
	<input type="submit" name="createNew" value="Create New Recipe">
</form>
