<h1>Hello, User, are you hungry?</h1>

{{#each recipe}}
	<div class = "recipe">
		<h3>{{this.name}}</h3>
		<div>Origin: {{this.origin}}</div>
		<a href="/recipe/{{this._id}}">View more about {{this.name}}</a>
		<br>
	</div>
{{/each}}
<br>
<br>
<form action="/recipe/new" method="GET">
	<input type="submit" name="createNew" value="Create New Recipe">
</form>
