<h1>Start New Recipe</h1>

<form action="../recipe" method="POST" class="newForm">
  <input type="text" name="name" placeholder="Recipe Name" required><br>
  <input type="text" name="directions" placeholder="Link to your directions!" required><br>
  <input type="number" name="servings" placeholder="How many servings?" required><br>
  <input type="number" name="caloriesPerServing" placeholder="How many calories per serving?" required><br>
  <input type="number" name="totalDuration" placeholder="How long does this meal take in minutes?" required><br>
  <input type="text" name="origin" placeholder="Where is this dish from?" required><br>
  <input type="number" name="difficulty" placeholder="On a scale of 1-5, how hard is this meal to make?" required><br>
  <input type="text" name="picture" placeholder="Input a link to your finished dish!"><br>
  <input type="submit" value="Click to Go To Ingredients Page!">
</form>
